* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #2E2E2E;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding-top: 1rem;
    padding-left: 1rem;
}

/*Navigation Bar*/

header ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

header a {
    position: relative; /*Position reference for absolute elements*/
    text-decoration: none;
    color: #CCA5FA;
    font-weight: 500;
    font-size: 1rem;
}

header a::after {
    content: ""; /*mandatory for creating the pseudo-element ("invisible div")*/
    position: absolute; /*allows free positioning within the <a> area (relative)*/

    /*Line Position*/
    left: 0;
    bottom: -3px;

    /*Line Visual*/
    width: 100%;
    height: 2px;
    background: #8622FF;

    transform: scaleX(0); /*makes the line "invisible" (flattens horizontally)*/
    transform-origin: center; /*sets the point from which the line will expand (centered)*/
    transition: transform 0.25s ease;
}

header a:hover {
    color: #e6d0ff;
}

header a:hover::after {
    transform: scaleX(1); /*expands the line to its full width, making it visible*/
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

/*Home Main Section*/

.home-h1 {
    color: #F4EAFF;
    font-size: 4.5rem;
}

.home-description {
    color: #CCA5FA;
    font-weight: 500;
    font-size: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icons {
    width: 2.8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.photo-wrapper {
    background-color: #B58CFF;
    padding: 12px;
    border-radius: 25px;
    width: fit-content;
}

.profile-picture {
    display: block;
    width: 350px;
    height: auto;
    border-radius: 25px;
    margin-top: -20px;
    margin-right: -15px;
    margin-bottom: -2px;
}

.about-button {
    width: fit-content;
    display: block;
    margin: 0 auto;
    background-color: #8622FF;
    border-radius: 10px;
    padding: 0.7rem 1.4rem;
    /*Font*/
    color: #F4EAFF;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

/*Footer*/

.copyright {
    color: #CCA5FA;
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 0.5rem;
}